<!doctype html>
<html lang="en">
<head>
	<title>Maelstrom2</title>
	<link rel="stylesheet" type="text/css" href="css/app.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>
<body ng-app="brewApp">
	<div id="main" ng-controller="BrewCtrl" brew-key-processor>

		<!-- top stuffs -->
		<div id="mainTop" class="panel panel-default">
			<div id="header" class="panel-body">
				<div id="lcdDiv" class="col-md-4 bg-primary">
					some data here
				</div>
				<div id="logoDiv" class="col-md-4">
					<div id="logo"><img class="img-responsive" ng-src="{{appsettings.breweryLogo}}" border="0" alt=""/></div>
					<div id="connStatus">
						<div id="connStatusLight" class="{{connStatus.status}}"></div>
						<div id="connStatusMessage">{{connStatus.statusMessage}}</div>
						<button id="reconnect" ng-click="reconnect()" class="btn btn-danger btn-xs {{connStatus.status}}">Reconnect</button>
						<button id="alarmsAck" ng-click="acknowledgeAlarms()" class="btn btn-danger btn-xs {{needsAcknowledgement ? 'alarm' : ''}}">Acknowledge</button>
					</div>
				</div>
				<div id="alarmsDiv" class="col-md-4 {{needsAcknowledgement ? 'bg-danger' : 'bg-primary'}}" brew-auto-scroll>
					<div ng-repeat="alarm in alarms">
						{{ alarm.msg + '(' + alarm.source + ')' }}
					</div>
				</div>
				<br class="crystal" />
			</div>
		</div>

		<!-- bottom stuffs -->
		<div id="mainBottom">

			<!-- main tab'ed content -->
			<div id="mainTabs">
				<ul id="mainTabNav" class="nav nav-tabs" brew-tabs>
					<li style="margin-left:10px;"><a href="#profiles" class="active" data-toggle="tab"><span>Profiles</span></a></li>
					<li><a href="#appsettings" class="active" data-toggle="tab"><span>App Settings</span></a></li>
					<li><a href="#debuggerDiv" data-toggle="tab"><span>Debugger</span></a></li>
				</ul>
				<div id="mainTabContent" class="tab-content panel panel-default">

					<!-- profile library -->
					<div id="profiles" class="tab-pane active panel-body">
						<ul id="profilelist" class="nav nav-pills nav-stacked col-md-3" brew-tabs>
							<li ng-repeat="profile in profiles" class="{{selectedProfile.id == profile.id ? 'active' : ''}}"><a href="#profile_{{profile.id}}" ng-click="selectProfile(profile.id)" data-toggle="tab">{{profile.name}}</a></li>
						</ul>
						<div id="profileDetail" class="col-md-9 panel panel-primary {{profileDetailClass}}">
							<div class="tab-pane panel-body">
								<div class="col-md-6">
									<div class="form-group">
										<label>Profile Name</label>
										<p class="form-display">{{selectedProfile.name}}</p>
										<input type="text" class="form-control" ng-model="selectedProfile.name" placeholder="Enter Profile Name">
									</div>
									<div id="profileEditDiv" brew-profile-table></div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Profile Type</label>
										<p class="form-display">{{selectedProfile.type}}</p>
										<select id="addProfile_type" class="form-control" ng-model="selectedProfile.type">
											<option name="fermentation" id="fermentation">Fermentation</option>
											<option name="mash" id="mash">Mash</option>
										</select>
									</div>
									<div id="profileEditChartDiv" style="width:380px;height:270px;" brew-profile-chart></div>
								</div>
								<div id="saveProfile">
									<button id="btnEditProf" class="btn btn-primary {{profileDetailClass}}" ng-click="editSelectedProfile()">Edit</button>
									<button id="btnCancelEditProf" class="btn btn-secondary {{profileDetailClass}}" ng-click="cancelEditProfile()">Cancel</button>
									<button id="btnSaveProf" class="btn btn-primary {{profileDetailClass}}" ng-click="saveSelectedProfile()">Save</button>
								</div>
							</div>
							<div class="empty-prompt {{profileDetailClass}}">Pick a profile already</div>
						</div>
					</div>

					<!-- app settings content -->
					<div id="appsettings" class="tab-pane active panel-body">
						<ul id="appsettingslist" class="nav nav-pills nav-stacked col-md-3" brew-tabs>
							<li style="margin-top:10px;"><a href="#appsettings_lookfeel" class="active" data-toggle="tab">Look and Feel</a></li>
							<li><a href="#appsettings_advanced" data-toggle="tab">Advanced</a></li>
						</ul>
						<div id="appsettingsMain" class="tab-content col-md-9 panel panel-primary">
							<div id="appsettings_lookfeel" class="tab-pane active panel-body">
								<div class="form-group">
									<label for="exampleInputEmail1">Logo Path/URL</label>
									<input type="text" class="form-control" ng-model="appsettings.breweryLogo" placeholder="Enter Logo URL">
									<p class="help-block">Relative or absolute url to logo file - Best if sized ~ 3:1</p>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">UI Selected Style</label>
									<input type="text" class="form-control" ng-model="appsettings.themeSelectedStyle" placeholder="Enter CSS Color">
									<p class="help-block">The CSS definition of .ui-selected, for example: "background: #eee;" or "background: #343434; border: solid 1px #333</p>
								</div>
							</div>
							<div id="appsettings_advanced" class="tab-pane panel-body">
								<div class="form-group">
									<label for="exampleInputEmail1">Theme Name</label>
									<input type="text" class="form-control" ng-model="appsettings.themeStylesheet" placeholder="Enter Theme Name">
									<p class="help-block">The name of a valid Bootstrap UI theme</p>
								</div>
							</div>
							<div id="saveAppSettings">
								<button class="btn btn-secondary" ng-click="getAppSettings()">Cancel</button>
								<button class="btn btn-primary" ng-click="saveAppSettings()">Save</button>
							</div>
						</div>
						<br class="crystal" />
					</div>

					<!-- debugger content -->
					<div id="debuggerDiv" class="tab-pane panel-body">
						<div class="col-md-3">
							<div style="margin:5px 0 5px 0;">Test Simulations</div>
							<div id="debugTests">
								<button class="btn btn-primary btn-block" ng-click="generateAlarms()">Generate Alarms</button>
								<button class="btn btn-primary btn-block" ng-click="generateLogs()">Generate Logs</button>
							</div>
						</div>
						<div class="col-md-9 panel panel-primary">
							<div id="publish" class="panel-body">
								<div class="form-group">
									<label for="exampleInputEmail1">Publish a message to a channel</label>
									<textarea id="postThisMsg" class="form-control" ng-model="debug.postMessage" rows="7"></textarea>
									<p class="help-block">Enter message json and select a channel, an example of an alarm message:</p>
									<p class="help-block">{ "channel": "alarms", "payload": { "alarms": [ { "source": "system" , "code": 1001, "msg": "DANGER! DANGER!" } ] } }</p>
									<span id="postThisChanLabel">Channel</span>&#160;<select ng-model="debug.postChannel">
										<option>data</option>
										<option>chart</option>
										<option>logs</option>
										<option>alarms</option>
									</select>
									<button class="btn btn-primary btn-sm" ng-click="debuggerPostMessage()">submit</button>
								</div>
								<br class="crystal" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- modal dialog for device logs -->
			<div id="deviceLogs" class="modal fade" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Device Logs</h4>
						</div>
						<div class="modal-body" brew-auto-scroll>
      						<div ng-repeat="entry in deviceLogEntries">
							{{ entry.msg + '(' + entry.source + ')' }}
							</div>
						</div>
						<div class="modal-footer">
						 	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

		</div><!-- mainBottom -->
	</div><!-- main -->

	<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>-->
	<script src="js/angular-1.2.17.js"></script>
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/dygraph-combined.js"></script>
	<script src="js/maelstrom.js"></script>
	<script src="js/maelstrom-profile.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
</body>
</html>
