html,body{ height: 100% }
body { font-family: arial, helvetica; font-size: 12px; }
ul { list-style-type: none; }
a, a:hover { text-decoration: none; }
.crystal { clear:both; }

#main { max-width:1200px; padding:10px; }
#mainTabNav { border-bottom: 0px; }
#mainTabNav li:first{ margin-left: 10px; !important }
#mainTabContent { min-height: 300px; border: 1px solid #ddd; }

#lcdDiv { 
	height:130px;
	border-radius:5px;
	padding:10px;
}

#logoDiv {
	height:140px;
	padding:0 10px; 
}
#connStatus { height:18px; margin: 5px 0 0 0; }
#connStatusLight { height:18px; width:18px; border-radius: 10px; border: solid 1px black; background: #777; }
#connStatusLight.connected { background: green; }
#connStatusLight.disconnected { background: red; }
#connStatusLight, #connStatusMessage { float:left; margin:0; font-weight: bold; }
#connStatusMessage { margin:0 0 0 5px; }
#reconnect { float:right; }
#reconnect.connected { display:none; }
#alarmsAck { display:none; float:right; }
#alarmsAck span { padding:3px 5px; }
#alarmsAck.alarm { display:block; }

#alarmsDiv { height:130px; border-radius:5px; padding:10px; overflow:auto; }

#appsettingslist, #profilelist { min-height: 300px; padding:10px 0 0 0; margin:0; }
#appsettingslist li a, #profilelist li a { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
#appsettingsMain, #profileDetail { min-height: 400px; position:relative; }
#saveAppSettings, #saveProfile { bottom:15px; right:25px; position:absolute; }

#profileDetail.empty .panel-body { display:none; }
#profileDetail.edit .form-display { display:none; }
#profileDetail.edit .empty-prompt, #profileDetail.readonly .empty-prompt { display:none; }
#profileDetail.readonly .form-control { display:none; }

#profileDetail.edit #btnEditProf, #profileDetail.empty #btnEditProf {display: none; }
#profileDetail.readonly #btnCancelEditProf, #profileDetail.readonly #btnSaveProf, #profileDetail.empty #btnCancelEditProf, #profileDetail.empty #btnSaveProf {display: none; }

.profileTableMenu {
    position: absolute;
    display: none;
    border: #ccc solid 1px;
    background: #fff;
}
.profileTableMenu UL { list-style-type: none; margin: 0; padding: 0; }
.profileTableMenu UL LI { margin: 0; padding: 5px; border: 1px solid #fff; border-bottom: 1px solid #ccc; cursor:pointer; cursor:hand; }
.profileTableMenu UL LI:last-child { border-bottom: 1px solid #fff; }
.profileTableMenu UL LI:hover { color:#fff; border: 1px solid #4297d7; background: #5c9ccc; }

